.footer {
    font-size: 14px;
    .title-footer {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
    }
    .icon-contact a {
        color: #000;
        font-size: 1.3rem;
    }
    .copyright {
        padding: .8rem;
        background-color: #f5f5f5;
        margin-top: 1rem;
    }
    
}
//hsahfhsahf

