@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;300;400;500;600&display=swap');

:root {
    --primary: #ff4e00;
}

* {
 box-sizing: border-box;
}

html {}

body {
    padding: 0;
    margin: 0;
    font-family: 'Exo', sans-serif;
}